body {
    margin: 0;
}

#navbar {
    background-color: #333;
    color: white;
    height: 150px;
    width: 100%;
    text-align: center;
}

#navbar h1 {
    margin: 0;
}

#main-content {
    background-color: #f4f4f4;
    height: calc(100vh - 150px - 40px);
    padding: 20px;
    display: flex;
}

.sidebar {
    background-color: #ddd;
    width: 400px;
    height: calc(100% - 40px);
    padding: 20px;
}

.content {
    background-color: #fff;
    flex: 1;
    /*padding: 20px;*/
}

/*laptop*/
@media (max-width: 768px) {
    .sidebar {
        background-color: green;
    }
}

/*tablet*/
@media (max-width: 1024px) {
    .sidebar {
        background-color: pink;
    }
}